fileFormatVersion: 2
guid: d30c65dc3ce081648b41cdc46a1293e7
timeCreated: 1531895864
licenseType: Free
MonoImporter:
  serializedVersion: 2
  defaultReferences: []
  executionOrder: 0
  icon: {instanceID: 0}
  userData: 
  assetBundleName: 
  assetBundleVariant: 
